<!DOCTYPE html>
	<!-- gets header, nav bar and footer -->
	{% extends 'header.html' %}
	{% block content %}
		<!-- form to add review -->
		<form action="addEntry" method="POST">
			<h1>{{title}}</h1>
			<input name="name" type="text" maxlength="32" size="20"
			placeholder="Please enter your name..." required>
			<br>
			<textarea name="text" rows="6" cols="50" placeholder="Please enter your review here..." required></textarea>
			<br>

			<!-- buttons to submit form -->
			<input type="reset" value="Reset">
			<input type="submit" value="Submit">
		</form>
		<!-- go through each row of list -->
		{% for line in reviewsList %}
			<p>
				<!-- output first element of a row -->
				{{ line[0] }}
			</p>
			<p class="tab">
				<!-- output second and third element -->
				{{ line[1] }}
				- posted on: {{ line[2] }}
			</p>
		{% endfor %}
		<div class="homeImg">
			<img alt="Wildland Cottage from the stream" src="../static/woods.jpg"/>
		</div>		
	{% endblock %}
</html>
