<!DOCTYPE html>
	<!-- gets header, nav bar and footer -->
	{% extends 'header.html' %}
	{% block content %}
		<h1>{{title}}</h1>
		<h2>By Road</h2>
		<p>
			Travel to Exeter then A38. Continue on the A38 until you see the sign for Ermington and Modbury. Turn off the A38 here keeping in the left hand lane and turn left at end of slip road. Continue to the next cross-roads (Kitterford Cross), (approx 1 mile) and go straight over on the B3196. Continue for several miles and turn left just after the petrol station still B3196). Continue on this road through Loddiswell and follow signs for Kingsbridge.<br>
			Please use this <a href="https://www.google.co.uk/maps/dir//50.2858986,-3.7684235/@50.2880828,-3.7879462,14z" target="_blank">Google Maps</a> link to search for road directions.
		</p>
		<h2>By Coach</h2>
		<p>
			To Totnes and Plymouth. <br>
			Services are provided by <a href="http://www.nationalexpress.com/home.aspx" target="_blank">National Express</a>.
		</p>
		<h2>By Bus</h2>
		<p>
			Buses stop in Kingsbridge and link to Plymouth, Totnes, Dartmouth and Ivybridge.<br>
			Services are provided by <a href="www.stagecoachbus.com" target="_blank">Stage Coaches</a> and <a href="www.tallyhocoaches.com" target="_blank">Tally Ho</a>. 
		</p>
		<h2>By Rail</h2>
		<p>
			Direct to Totnes, Newton Abbot and Plymouth (with some connecting services to Ivybridge) from London, the Midlands and the North.<br>
			Services are provided by <a href="www.firstgreatwestern.co.uk" target="_blank">First Great Western</a> and we recommend using the <a href="www.thetrainline.com" target="_blank">Trainline</a> to buy your train tickets.
		</p>
		<!-- link provided by google, validator says its obsolete -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m20!1m11!1m3!1d1093.7352150369145!2d-3.768941957562301!3d50.28574772471774!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m3!3m2!1d50.2857905!2d-3.7683532!4m0!5e1!3m2!1sen!2suk!4v1478872279078" width="400" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
	{% endblock %}
</html>
